node_modules/
node_modules/*
out/
out/*
build/
build/*
.lock-wscript
Makefile.gyp
*.swp
*.Makefile
*.target.gyp.mk
*.node
*.sln
*.sdf
*.vcxproj
*.suo
*.opensdf
*.filters
*.user
*.project
test.js
**/*.dylib
**/*.so
**/*.old
libbitcoind
**/*.files
**/*.config
**/*.creator
libbitcoind.includes
*.log
platform/*
