node_modules/
node_modules/*
coverage/*
out/
out/*
build/
build/*
.lock-wscript
Makefile.gyp
*.swp
*.Makefile
*.target.gyp.mk
*.node
*.sln
*.sdf
*.vcxproj
*.suo
*.opensdf
*.filters
*.user
*.project
test.js
**/*.dylib
**/*.so
**/*.old
**/*.files
**/*.config
**/*.creator
libbitcoind
libbitcoind*
libbitcoind.includes
*.log
.DS_Store
