node_modules/
node_modules/*
coverage/*
.lock-wscript
*.swp
*.Makefile
*.target.gyp.mk
*.node
*.sln
*.sdf
*.vcxproj
*.suo
*.opensdf
*.filters
*.user
*.project
**/*.dylib
**/*.so
**/*.old
**/*.files
**/*.config
**/*.creator
*.log
.DS_Store
bin/bitcoin*
bin/SHA256SUMS.asc
regtest/data/node1/regtest
regtest/data/node2/regtest
regtest/data/node3/regtest
