{
  "network": "testnet",
  "port": 3001,
  "datadir": "/tmp",
  "services": [
    "p2p",
    "db",
    "header",
    "block",
    "mempool",
    "address",
    "transaction",
    "timestamp",
    "fee",
    "insight-api",
    "web"
  ],
  "servicesConfig": {
    "insight-api": {
      "routePrefix": "api",
      "disableRateLimiter": true,
      "enableCache": true
    },
    "fee": {
      "rpc": {
        "user": "local",
        "pass": "local",
        "host": "localhost",
        "protocol": "http",
        "port": 18332
      }
    }
  }
}
